{% extends './base.html' %}
{% block title %}
<title>{{page}}</title>        
{% endblock %}
{% block content %}
<div class="bg-gray">
<section id="tech-skills" class="container full-vh d-flex-col-center">
    <h2 class="title-section">Skills</h2>
    <div class="micro-cards skill-cards d-flex">
        <div class="micro-card skill-card d-flex-col-center hover">
            <span class="iconify" data-icon="vscode-icons:file-type-python" data-width="40" data-height="40"></span>
            <span>Python</span>
        </div>
        <div class="micro-card skill-card d-flex-col-center hover">
            <span class="iconify" data-icon="vscode-icons:file-type-django" data-width="40" data-height="40"></span>
            <span>Django</span>
        </div>
        <div class="micro-card skill-card d-flex-col-center hover">
            <span class="iconify" data-icon="logos:pandas" data-width="60" data-height="60"></span>
            <span>Pandas</span>
        </div>
        <div class="micro-card skill-card d-flex-col-center hover">
            <span class="iconify" data-icon="logos:mysql" data-width="40" data-height="40"></span>
            <span>SQL</span>
        </div>
        <div class="micro-card skill-card d-flex-col-center hover">
            <span class="iconify" data-icon="logos:bootstrap" data-width="40" data-height="40"></span>
            <span>Bootstrap</span>
        </div>
        <div class="micro-card skill-card d-flex-col-center hover">
            <span class="iconify" data-icon="vscode-icons:file-type-html" data-width="40" data-height="40"></span>
            <span>HTML</span>
        </div>
        <div class="micro-card skill-card d-flex-col-center hover">
            <span class="iconify" data-icon="vscode-icons:file-type-css" data-width="40" data-height="40"></span>
            <span>CSS</span>
        </div>
        <div class="micro-card skill-card d-flex-col-center hover">
            <span class="iconify" data-icon="logos:javascript" data-width="40" data-height="40"></span>
            <span>Javascript</span>
        </div>
        <div class="micro-card skill-card d-flex-col-center hover">
            <span class="iconify" data-icon="vscode-icons:file-type-c" data-width="40" data-height="40"></span>
            <span>C</span>
        </div>
        <div class="micro-card skill-card d-flex-col-center hover">
            <span class="iconify" data-icon="vscode-icons:file-type-cpp" data-width="40" data-height="40"></span>
            <span>C++</span>
        </div>
        <div class="micro-card skill-card d-flex-col-center hover">
            <span class="iconify" data-icon="vscode-icons:file-type-java" data-width="40" data-height="40"></span>
            <span>Java</span>
        </div>
        <div class="micro-card skill-card d-flex-col-center hover">
            <span class="iconify" data-icon="vscode-icons:file-type-git" data-width="40" data-height="40"></span>
            <span>Git</span>
        </div>
        <div class="micro-card skill-card d-flex-col-center hover">
            <span class="iconify" data-icon="logos:github" data-width="40" data-height="40"></span>
            <span>Github</span>
        </div>
    </div>

</section>
</div>
{% endblock %}